{% extends 'base.html' %}

{% block tab_title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">   
    <div class="container">
        <!--Setup Form Start-->
        <form method="POST" class="form-register" style="color:white"> 
            <h1 class="h3 mb-3 font-weight-normal"> 
                Please Create Your Account
            </h1>
            <br> 
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name")}}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address")}}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Your Password")}}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password")}}
            
            {{ form.submit(class="btn btn-block btn-primary") }}
            <br>
        
        </form>
        <!--Setup Form End-->
    </div>
</body>
    
{% endblock %}